# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Django stuff
db.sqlite3

# VS Code
.vscode/

# Mac files
.DS_Store

# Pytest cache
.pytest_cache/

# Migrations cache
*.log